@model OnlineRealEstateRepositary.LandRepositary
    <head>
        <style>
            .properties
            {
                padding:10px;
                font-family:Arial;
                color:white;
            }
            .text {
                padding: 25px;
                font-family: Calibri;
                line-height: 50px;
                color: white;
            }
        </style>
    </head>
<h3 class="properties">Benefits of Account</h3>
<div class="text">
    Post one Single Property for FREE<br />
    Set property alerts for your requirement<br />
    Get accessed by over 1 Lakh buyers<br/>
</div>



